#PA{
	background-color: lightpink;
	height: 110px;
	width: 1024px;
	position: absolute;
}
#PB{
	background-color: lightgreen;
	height: 110px;
	width: 340px;
	position: relative;
	top: 514px;
}

#PC{
	background-color: lightblue;
	height: 400px;
	width: 1024px;
	position: absolute;

}
#PD{
	background-color: lightyellow;
	height: 110px;
	width: 340px;
	float: left;
	position: relative;
	top: 402px;
    left: 342px;

	/* line-height: 40px; */
}
#PE:hover{
	background-color: white;
}
#PE{
	background-color: lightgray;
	height: 110px;
	width: 340px;
	float: left;
	position: relative;
	top: 402px;
    left: 342px;

}
.modelo >div{
	border: 1px dotted gray;
	margin: 0;
	padding: 0;
}
html{
	width: 1024px;
	margin: auto ;
	padding: 0;
}
div p{
	margin: 0;
	text-align: center;
	font-size: 100px;
}